/* *{  
     outline: 1px solid red; 
} */
body{
    font-family: 'roboto', 'Times-New-Roman', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
    gap: 40px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.headerList{
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
    cursor: pointer;
}

.heroMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 70px;
}

.heroContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    gap: 10px;
    height: 250px;
}

.heroImage{
    width: 600px;
    height: 250px;
    background-color: gray;
}

.heroTitle{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

.heroText{
    font-size: 18px;
    color: #E5E7EB;
}

.heroButton{
    background-color: #3882F6;
    border-radius: 5px;
    border: 0px;
    max-width: 100px;
    padding: 5px;
    color: #F9FAF8;
    cursor: pointer;
}

.heroImage{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
}

.informationTitle{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.informationContainer{
    display: flex;
    margin-top: 35px;
}

.boxContainer{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 200px;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    
}

.informationButton{
    width: 140px;
    height: 140px;
    background-color: white;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.informationText{
    width: 150px;
    height: 80px;
    text-align: center;
    margin-top: 0;
}