/* *{  
     outline: 1px solid red; 
} */
body{
    font-family: 'roboto', 'Times-New-Roman', sans-serif;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.hero{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    padding-left: 300px;
    padding-right: 300px;
    padding-bottom: 100px;
    gap: 40px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 24px;
    color: #F9FAF8;
}

.headerList{
    list-style: none;
    display: flex;
    gap: 10px;
    font-size: 18px;
    color: #E5E7EB;
    cursor: pointer;
}

.heroMain{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 70px;
}

.heroContainer{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 400px;
    gap: 10px;
    height: 250px;
}

.heroImage{
    width: 600px;
    height: 250px;
    background-color: gray;
}

.heroTitle{
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
    margin: 0px;
}

.heroText{
    font-size: 18px;
    color: #E5E7EB;
}

.heroButton{
    background-color: #3882F6;
    border-radius: 5px;
    border: 0px;
    width: 100px;
    height: 30px;
    padding: 5px;
    color: #F9FAF8;
    cursor: pointer;
}

.heroImage{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #F9FAF8
}

.information{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
    padding-left: 200px;
    padding-right: 200px;
}

.informationTitle{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.informationContainer{
    display: flex;
    margin-top: 35px;
    gap: 150px;
}

.boxContainer{
    width: 200px;
    height: 300px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: #1F2937;
    justify-content: center;
    align-items: center;
    
}

.informationButton{
    width: 140px;
    height: 140px;
    background-color: white;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.informationText{
    width: 150px;
    height: 80px;
    text-align: center;
    margin-top: 0;
}

.quote{
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
    padding: 100px 200px;
}

.quoteText{
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 0px;
    color: #1F2937;
    padding: 0 150px;
}

.quoteName{
    margin-top: 5px;
    color: #1F2937;
    font-size: 18px;
    font-weight: bolder;
    text-align: end;
    padding-right: 180px;
}

.call{
    display: flex;
    justify-content: space-around;
    margin-bottom: 100px;
    padding-left: 300px;
    padding-right: 300px;
    margin-bottom: 100px;
}

.callContainer{
    display: flex;
    flex: 1;
    background-color: #3882F6;
    justify-content: space-between;
    align-items: center;
    height: 120px;
    border-radius: 10px;
}

.textContainer{
    display:flex;
    flex-direction: column;
    padding-left: 60px;
}

.callText{
    color: #F9FAF8;
    font-weight: bold;
    font-size: 16px;
    margin: 0 0 2px 0;
}

.callSign{
    color:#E5E7EB;
    font-size: 14px;
    margin: 2px 0 0 0;
}

.callButton{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 60px;
    background-color: #3882F6;
    color: #F9FAF8;
    min-width: 80px;
    min-height: 30px;
    border-color: #F9FAF8;
    border-radius: 5px;
    cursor: pointer;
    border-style: solid;
}

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #1F2937;
    color: #F9FAF8;
    font-size: 16px;
}